@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-text font-sans font-normal antialiased;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 150ms ease-in-out forwards;
  }

  .animate-slide-left {
    animation: slideLeft 200ms ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(12px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
